go 1.20

use (
	"./Book Store"
	"./Building Cache"
	"./CLI Reminder Tool"
	"./Email Verifier Tool"
	"./Go-Fibre Simple CRM"
	./Go-Fiber-Postgres
	./Golang-Database
	./Google-Scrapper
	./Loadbalancer
	./Sitemap-Crawler
	./Url-Shortener/api
	./cortex
)
